Here is an

attribute with options

but the options are missing a delimiter : <i : i=1,2; fmt=%d sep=,>
Specifically, the fmt specification is missing the ';' and as a result 
reserved seperator specification collides causing the error 
