#!/bin/bash
#PBS -W group_list=cades-nsed
#PBS -A nsed
#PBS -l qos=std
#PBS -m bea
#PBS -M mxd@ornl.gov
#PBS -l nodes=1:ppn=1
#PBS -l walltime=00:10:00
#PBS -N DakNek

# Load source file for Nek5000
module load mpi/openmpi/gcc4/1.10.2

# Change directory
echo $PBS_O_WORKDIR
cd $PBS_O_WORKDIR

PROCS=`wc -l < $PBS_NODEFILE`
NNODES=`uniq $PBS_NODEFILE | wc -l`
echo Running on host `hostname`
echo Time is `date` 
echo Directory is `pwd`
echo `cat $PBS_NODEFILE`
echo Using ${NPROCS} processors across ${NNODES} nodes
pwd;
echo $PWD

# Output the current path 
echo "Current path: `pwd`"

# Output the date
echo "Starting run at: `date`"

# Launch the simulation
<application.value>
# Output the date
echo "Ending run at: `date`"
